@import url('https://fonts.googleapis.com/css?family=Abel');
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.bxd {
  font-family: 'Abel', sans-serif;
}

a.active.item {
  color: red;
}
.maintitle {
  width: 100%;
}
